#add-to-calendar-checkbox-label {
  cursor: pointer;
}

#add-to-calendar-checkbox ~ a {
  display: none;
}

#add-to-calendar-checkbox:checked ~ a {
  display: block;
  width: 100px;
  margin-left: 20px;
}

input[type=checkbox]#add-to-calendar-checkbox {
  position: absolute;
  top: -9999px;
  left: -9999px;
}